<div class="vernav2 iconmenu">
    <ul>
        {% for one in left_menu %}
            {% if one.firstMenu == 0 %}<li {% if current_firstMenu == one.id %}class="current"{% endif %}><a href="#{{ one.id }}" class="elements">{{ one.name }}</a><span class="arrow"></span>
            <ul id="{{ one.id }}" style="display: block;" class="leftmenuli">
            {% for second in left_menu %}
                {% if one.id == second.firstMenu and second.secondMenu == 0 %}
                    {% if second.route is not empty %}<li class="{% if second.route == current_route %}current {% endif %}"><a href="{{ path(second.route) }}">{{ second.name }}</a><span class="arrow"></span></li>{% endif %}
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div>

<script type="text/javascript">
    // $.confirm({
    //     title: '日历管理',
    //     content: '<form class="stdform_q"><input type="text" id="time" name="time" class="miniinput"/></form>',
    //     buttons: {
    //         ok: {
    //             text: '好的'
    //         },
    //         delay: {
    //             text: '推迟',
    //             action: function () {
    //                 console.log('hello world')
    //             }
    //         }
    //     },
    //     onContentReady: function () {
    //         $('#time').timepicker({
    //             dateFormat: 'yy-mm-dd',
    //             timeFormat: 'HH:mm:ss',
    //             showSecond: true
    //         });
    //     },
    //     columnClass: 'small'
    // });
</script>
<!-- centercontent -->
