{% extends '::base.html.twig' %} {% block main %}
<script type="text/javascript">
    document.title = '提醒修改';
</script>

<style type="text/css">
    .content_title { font-weight: bold; }
    #logo_table .extra { display: none; }
    td a {text-decoration:underline;color:blue;} /* 修改默认链接样式 */
</style>

<div class="centercontent">
    <div class="pageheader">
		{% if data.id != "" %}
        <h1 class="pagetitle">修改提醒</h1>
		{% else %}
        <h1 class="pagetitle">新建提醒</h1>
		{% endif %}
        <ul class="hornav">
            <li><a href="{{ path('task_manager_calendar_list') }}">日历管理</a></li>
			<li class="current"><a href="{{ path('task_manager_calendar_modify', {'id':data.id}) }}">{% if data.id != "" %}提醒修改{% else %}新建提醒{% endif %}</a></li>
        </ul>
    </div>

    <form id="modifyform" name="modifyform" class="stdform_q" method="post">
        <div style="margin-top:40px;">
            <p>
                <label>ID</label>
				<span class="field"><input type="text" id="id" name="id" class="smallinput" value="{% if data is defined %}{{ data.id }}{% endif %}" readonly="readonly" /></span>
            </p>
        </div>
        <div>
            <p>
                <label>任务名称</label>
                <span class="field"><input type="text" id="name" name="name" class="smallinput" value="{{ data.name }}"/></span>
            </p>
        </div>
		<div>
			<p>
				<label>所属分类</label>
				<span class="field">
                <select id="category" class="uniformselect" name="category">
					{% for key,value in select_list['category'] %}
					<option value="{{ key }}" {% if data.category == key %}selected="selected"{% endif %}>{{ value }}</option>
					{% endfor %}
				</select>
				</span>
			</p>
		</div>
		<div>
			<p>
				<label>状态</label>
				<span class="field">
                <select id="status" onchange="change_status()" class="uniformselect" name="status">
					{% for key,value in select_list['status'] %}
					<option value="{{ key }}" {% if data.status == key %}selected="selected"{% endif %}>{{ value }}</option>
					{% endfor %}
				</select>
				</span>
			</p>
		</div>
        <div id="start_time_div" {% if data.status == 2 %}style="display:none;"{% endif %}>
            <p>
                <label>开始时间</label>
                <span class="field"><input type="text" id="start_time" name="start_time" class="smallinput" value="{{ data.startTime }}"/></span>
            </p>
        </div>
		<div id="end_time_div" {% if data.status != 1 %}style="display:none;"{% endif %}>
            <p>
                <label>结束时间</label>
                <span class="field"><input type="text" id="end_time" name="end_time" class="smallinput" value="{{ data.endTime }}"/></span>
            </p>
        </div>
		<div id="lunar_div" {% if data.status == 2 %}style="display:none;"{% endif %}>
			<p>
				<label>是否农历</label>
				<span class="field">
                <select id="lunar" class="uniformselect" name="lunar">
					{% for key,value in select_list['lunar'] %}
					<option value="{{ key }}" {% if data.lunar == key %}selected="selected"{% endif %}>{{ value }}</option>
					{% endfor %}
				</select>
				</span>
			</p>
		</div>
		<div id="period_div" {% if data.status != 1 %}style="display:none;"{% endif %}>
            <p>
                <label>循环周期</label>
                <span class="field"><input type="text" id="period" name="period" class="smallinput" value="{{ data.period }}"/></span>
            </p>
        </div>
		<div id="cycle_type_div" {% if data.status != 1 %}style="display:none;"{% endif %}>
			<p>
				<label>周期单位</label>
				<span class="field">
                <select id="cycle_type" class="uniformselect" name="cycle_type">
					{% for key,value in select_list['cycle_type'] %}
					<option value="{{ key }}" {% if data.cycleType == key %}selected="selected"{% endif %}>{{ value }}</option>
					{% endfor %}
				</select>
				</span>
			</p>
		</div>
        <div>
            <p>
                <label>备注</label>
                <span class="field"><textarea rows="3" type="text" id="remark" name="remark" class="form-control" value="{{ data.remark }}">{{ data.remark }}</textarea></span>
            </p>
        </div>
		<div>
			<p>
				<label>操作</label>
				<span class="field">
				<button type="button" onclick="confirm_submit()">提交</button>
				</span>
			</p>
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
    const datetimeConfig = {
        dateFormat: 'yy-mm-dd',
        timeFormat: 'HH:mm:ss',
        showSecond: true
    };
    $('#start_time').datetimepicker(datetimeConfig);
    $('#end_time').datetimepicker(datetimeConfig);
});

function change_status() {
    const status = $('#status').val();
	if (status == 1) {
		$('#end_time_div').show();
		$('#period_div').show();
		$('#cycle_type_div').show();
        $('#lunar_div').show();
	} else {
		$('#end_time_div').hide();
		$('#period_div').hide();
		$('#cycle_type_div').hide();
		if (status == 2) {
		    $('#lunar_div').hide();
            $('#start_time_div').hide();
        } else {
            $('#lunar_div').show();
            $('#start_time_div').hide();
        }
	}
}

function confirm_submit() {
    const name = $('#name').val();
    const start_time = $('#start_time').val();
	if (name === "") {
	    $.alert({
			title: '提示',
            btnClass: 'btn-red',
			content: '请输入名称'
		});
		return false;
	}
	if (start_time === "") {
        $.alert({
            title: '提示',
            btnClass: 'btn-red',
            content: '请输入开始时间'
        });
		return false;
	}

    $.confirm ({
        content: "请确认是否提交？",
        title: "提示",
		buttons: {
            cancel: {
                text: '取消'
		    },
			confirm: {
                text: '确认',
                btnClass: 'btn-blue',
				action: function() {
                    $.ajax ({
                        'url': "{{ path('task_manager_calendar_modifybasic') }}",
                        'type': 'post',
                        'data': get_params(),
                        'dataType': 'json',
                        "error": function (jqXHR, textStatus, errorThrown) {
                            const errMsg = errorThrown === 'Forbidden' ? "亲，没权限呢!" : "亲，服务器忙!";
                            $.alert({
                                title: '提示',
                                btnClass: 'btn-red',
                                content: errMsg
                            });
                        },
                        "success": function (data) {
                            if (data['code'] !== 0) {
                                $.alert({
                                    title: 'ERROR',
                                    btnClass: 'btn-red',
                                    content: data['msg']
                                });
                            } else {
                                $.alert({
									title: '提示',
									content: data['msg'],
									action: function () {
									    console.log('hello');
                                        window.location.href = data['url'];
                                    }
								})
                            }
                        }
                    });
                }
			}
		}

    });
    return false;
}

function get_params() {
	var keys = ['id', 'name', 'status', 'category', 'start_time', 'end_time',
		'lunar', 'period', 'cycle_type', 'remark'];
	var result = {};
	for (index in keys) {
		var key = keys[index];
		result[key] = $('#' + key).val();
	}
	return result;
}
</script>
{% endblock %}
