{% extends '::base.html.twig' %}
{% block main %}
<script type="text/javascript">
    document.title = '文章修改';
</script>

<style type="text/css">
    .content_title { font-weight: bold; }
    #logo_table .extra { display: none; }
    td a {text-decoration:underline;color:blue;} /* 修改默认链接样式 */
</style>

<div class="centercontent">
    <div class="pageheader">
        <h1 class="pagetitle">文章修改</h1>
        <ul class="hornav">
            <li><a href="{{ path('techlog_manager_article_list') }}">文章管理</a></li>
            <li class="current"><a href="{{ path('techlog_manager_article_modify', {'article_id':data.articleID}) }}">文章修改</a></li>
        </ul>
    </div>

    <form id="modifyform" name="modifyform" class="stdform_q" method="post">
        <div style="margin-top:40px;">
            <p>
                <label>文章 ID</label>
                <span class="field"><input type="text" id="article_id" name="article_id" class="smallinput" value="{{ data.articleId }}" readonly="readonly" /></span>
            </p>
        </div>
        <div>
            <p>
                <label>文章标题</label>
                <span class="field"><input type="text" id="title" name="title" class="smallinput" value="{{ data.title }}"/></span>
            </p>
        </div>
		<div>
			<p>
				<label>所属分类</label>
				<span class="field">
                <select id="online" class="uniformselect" name="online">
					{% for key,value in select_list['online'] %}
					<option value="{{ key }}" {% if data.online == key %}selected="selected"{% endif %}>{{ value }}</option>
					{% endfor %}
				</select>
				</span>
			</p>
		</div>
		<div>
			<p>
				<label>所属分类</label>
				<span class="field">
                <select id="category_id" class="uniformselect" name="category_id">
					{% for key,value in select_list['category_id'] %}
					<option value="{{ key }}" {% if data.categoryId == key %}selected="selected"{% endif %}>{{ value }}</option>
					{% endfor %}
				</select>
				</span>
			</p>
		</div>
		<div>
			<p>
				<label>备注</label>
				<span class="field">
					<input type="text" id="title_desc" name="title_desc" class="smallinput" value="{{ data.titleDesc }}" />
				</span>
			</p>
		</div>
		<div>
			<p>
				<label>操作</label>
				<span class="field">
				<button type="button" onclick="confirm_submit()">提交</button>
				</span>
			</p>
		</div>
	</form>
</div>

<script type="text/javascript">
function confirm_submit()
{
    $.confirm ({
        content: "请确认是否提交？",
        title: "提示",
        buttons: {
            cancel: {
                text: '取消'
            },
            confirm: {
                text: '确认',
                btnClass: 'btn-blue',
                action: function(r) {
                    if (r) {
                        $.ajax({
                            'url': "{{ path('techlog_manager_article_modifybasic') }}",
                            'type': 'post',
                            'data': get_params(),
                            'dataType': 'json',
                            "error": function (jqXHR, textStatus, errorThrown) {
                                var errMsg = errorThrown === 'Forbidden' ? "亲，没权限呢!" : "亲，服务器忙!";
                                $.alert({
                                    title: '提示',
                                    btnClass: 'btn-red',
                                    content: errMsg
                                });
                            },
                            "success": function (data) {
                                if (data['code'] !== 0) {
                                    $.alert({
                                        title: 'ERROR',
                                        content: data['msg']
                                    });
                                } else {
                                    $.alter({
										title: '提示',
										content: data['msg'],
										action: function () {
                                            window.location.href=data['url'];
                                        }
									});
                                }
                            }
                        });
                    }
                }
            }
        }
    });
    return false;
}

function get_params()
{
	var keys = {'online':1, 'article_id':1, 'title':1, 'category_id':1, 'title_desc':1};

	var params = {};
	for (var key in keys)
		params[key] = $.trim($('#'+key).val());

	return params;
}
</script>
{% endblock %}
