<style>
    td a {text-decoration:underline;color:blue;} /* 修改默认链接样式 */
</style>
<h4>总数：{{ total }}</h4>
<div class="gigantic pagination" style="float:right; margin:5px" >
    <a href="#" class="first" data-action="first">&laquo;</a>
    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
    <input type="text" readonly="readonly" data-max-page="40" />
    <a href="#" class="next" data-action="next">&rsaquo;</a>
    <a href="#" class="last" data-action="last">&raquo;</a>
</div>
<div style="float:right; margin:5px" >
    <form>
    <span class="field">
        <label>每页显示：</label>
        <input type="text" id="limit" name="limit" class="supperminiinput" value="{{ limit }}"/>（上限1000）
    </span>
    </form>
</div>
<p>&nbsp;</p>
<form>
    <table id="logo_table" cellpadding="0" cellspacing="0" border="0" class="stdtable">
        <thead class="center">
            <tr>
                {% for key,value in key_value_map %}
				<td width="{{ value['width'] }}%"><a href="javascript:void(0)" onclick="query_result('{{ key }}')">{{ value['name'] }}</a></td>
                {% endfor %}
                <td width="6%">操作</td>
            </tr>
        </thead>
        <tbody class="center">
            {% for info in data %}
            <tr>
                {% for key,value in key_value_map %}
                {% if key in select_list|keys and select_list[key][info[key]] is defined %}
				<td {% if info['status'] == 1 %}style="color:blue"{% elseif info['status'] == 0 %}style="color:red"{% endif %}>{{ select_list[key][info[key]] }}</td>
                {% else %}
				<td {% if info['status'] == 1 %}style="color:blue"{% elseif info['status'] == 0 %}style="color:red"{% endif %}>{% if key == 'name' %}<strong>{% endif %}{% if key != 'finish_time' or info[key] != '0000-00-00 00:00:00' %}{{ info[key] }}{% endif %}{% if key == 'name' %}</strong>{% endif %}</td>
                {% endif %}
                {% endfor %}
                <td>
					<a class="btnstyle" style="margin-right:5px" href="{{ path('techlog_manager_tasklist_modify', {'id':info['id']}) }}">修改</a>
					{% if info['status'] < 2 %}
					<a id="modify_task_status" class="btnstyle" style="margin-right:5px" href="javascript:void(0)" onclick="modify_status({{ info['id'] }}, {{ info['status']+1 }})">{% if info['status'] == 0 %}开始{% elseif info['status'] == 1 %}完成任务{% endif %}</a>
					{% endif %}
					{% if info['status'] != 2 %}
					<a class="btnstyle" style="margin-right:5px;border:black;background:black" href="javascript:void(0)" onclick="modify_status({{ info['id'] }}, 3)">取消</a>
					{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<div class="gigantic pagination">
    <a href="#" class="first" data-action="first">&laquo;</a>
    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
    <input type="text" readonly="readonly" data-max-page="40" />
    <a href="#" class="next" data-action="next">&rsaquo;</a>
    <a href="#" class="last" data-action="last">&raquo;</a>
</div>
<input type="hidden" id="totalPages" value="{{ totalPages }}"/>
<input type="hidden" id="start" value="{{ start }}"/>
<input type="hidden" id="asc" value="{{ asc }}"/>
<input type="hidden" id="sortby" value="{{ sortby }}"/>

<script type="text/javascript">
function modify_status(id, status) {
	var tips = '真的要取消任务吗？';
	if (status != 3) {
		tips = '真的要' + $('#modify_task_status').html() + '吗？';
	}
    jConfirm
	(
	 	tips,
		"提示",
		function(r)
		{
			if(r)
			{
				$.ajax
				(
					{
						'url'	: "{{ path('techlog_manager_tasklist_modifybasic') }}",
						'type'	: 'post',
						'data'	: {'id':id, 'status':status},
                        'dataType' : 'json',
                        "error" : function (jqXHR, textStatus, errorThrown) 
                        {
                            var errMsg = errorThrown == 'Forbidden' ? "亲，没权限呢!" : "亲，服务器忙!"; jAlert(errMsg, "提示");
                        },
                        "success" : function (data) 
                        {
                            if (data['code'] != 0) 
                            {
                                jAlert("error: " + data['msg']);
                            }
                            else
                            {
                                jAlert(data['msg'], "提示", function()
                                    {
                                        window.location.href=data['url'];
                                    }
                                );
                            }
                        }
					}
				);
			}
    	}
	);
    return false;
}
</script>
